<a href="https://colab.research.google.com/github/santoshgurujula/Springboard/blob/master/DataCollection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# First, import the relevant modules
import requests
import json
from matplotlib import pyplot as plt
import pandas as pd
%matplotlib inline

In [26]:
#pointing the path to google drive folder
%cd '/content/drive/My Drive/Springboard/data'

/content/drive/My Drive/Springboard/data

In [0]:
# Store the Quandl API key as a string 
API_KEY = '4Mg4hjNJH7oWZyHbsZwr'

In [0]:
#list of BSE stocks to be downloaded
stock_list=['BOM500002','BOM500003','BOM500008','BOM500009','BOM500010','BOM500012','BOM500013','BOM500014','BOM500020','BOM500023']

In [0]:
#URL to download csv file
url='https://www.quandl.com/api/v3/datasets/BSE/'

In [30]:
for stock in stock_list:
  # Read file into a DataFrame: df
  df=pd.read_csv(url+stock+'.csv?start_date=2017-01-01&end_date=2019-12-31&api_key='+API_KEY)
  #add stock name to dataframe as column
  df['stockname']=stock
  # Print the head of the DataFrame
  print(df.head())  
  #write dataframe to csv file
  df.to_csv(stock+'.csv')

         Date    Open    High  ...  Spread H-L  Spread C-O  stockname
0  2019-12-31  1305.0  1305.0  ...        30.0      -20.90  BOM500002
1  2019-12-30  1277.0  1310.0  ...        50.0       10.35  BOM500002
2  2019-12-27  1280.0  1280.0  ...        30.0       -4.25  BOM500002
3  2019-12-26  1265.0  1278.0  ...        43.0        3.50  BOM500002
4  2019-12-24  1278.5  1278.5  ...        38.5      -23.35  BOM500002

[5 rows x 14 columns]
         Date   Open    High  ...  Spread H-L  Spread C-O  stockname
0  2019-12-31  188.0  194.35  ...        8.05        5.50  BOM500003
1  2019-12-30  176.5  191.75  ...       15.25       13.55  BOM500003
2  2019-12-27  173.9  177.45  ...        3.55        1.55  BOM500003
3  2019-12-26  172.5  188.00  ...       20.50        0.65  BOM500003
4  2019-12-24  165.0  176.00  ...       11.00        7.55  BOM500003

[5 rows x 14 columns]
         Date    Open    High  ...  Spread H-L  Spread C-O  stockname
0  2019-12-31  725.90  730.00  ...        8.50       -1.40  BOM500008
1  2019-12-30  718.30  728.70  ...       10.40        4.90  BOM500008
2  2019-12-27  714.35  718.15  ...       10.15        1.55  BOM500008
3  2019-12-26  721.75  724.30  ...       20.30       -9.70  BOM500008
4  2019-12-24  720.00  723.90  ...        6.10        1.55  BOM500008

[5 rows x 14 columns]
         Date   Open   High  ...  Spread H-L  Spread C-O  stockname
0  2019-12-31  15.50  16.19  ...        0.88        0.19  BOM500009
1  2019-12-30  15.15  15.98  ...        0.97        0.64  BOM500009
2  2019-12-27  16.55  16.55  ...        1.21       -0.94  BOM500009
3  2019-12-26  16.12  16.45  ...        1.01       -0.18  BOM500009
4  2019-12-24  16.47  17.30  ...        1.15       -0.23  BOM500009

[5 rows x 14 columns]
         Date     Open     High  ...  Spread H-L  Spread C-O  stockname
0  2019-12-31  2439.05  2439.05  ...       32.10      -25.60  BOM500010
1  2019-12-30  2444.50  2449.25  ...       27.25       -7.00  BOM500010
2  2019-12-27  2426.00  2450.00  ...       30.00       18.50  BOM500010
3  2019-12-26  2416.80  2432.70  ...       27.70       -2.50  BOM500010
4  2019-12-24  2422.65  2445.20  ...       42.15      -11.45  BOM500010

[5 rows x 14 columns]
         Date   Open   High  ...  Spread H-L  Spread C-O  stockname
0  2019-12-31  33.35  37.00  ...        3.65        2.95  BOM500012
1  2019-12-30  31.05  34.10  ...        3.45        2.50  BOM500012
2  2019-12-27  30.30  31.25  ...        1.25        0.80  BOM500012
3  2019-12-26  31.00  31.80  ...        1.80        0.10  BOM500012
4  2019-12-24  29.70  30.50  ...        0.80        0.75  BOM500012

[5 rows x 14 columns]
         Date  Open  High  ...  Spread H-L  Spread C-O  stockname
0  2019-12-31  5.04  5.05  ...        0.02        0.01  BOM500013
1  2019-12-30  4.81  4.81  ...        0.00        0.00  BOM500013
2  2019-12-27  4.78  4.95  ...        0.17        0.04  BOM500013
3  2019-12-26  4.76  4.98  ...        0.22        0.19  BOM500013
4  2019-12-24  4.61  4.84  ...        0.23        0.22  BOM500013

[5 rows x 14 columns]
         Date  Open  High  ...  Spread H-L  Spread C-O  stockname
0  2019-12-31  1.28  1.34  ...        0.06        0.06  BOM500014
1  2019-12-30  1.35  1.35  ...        0.06       -0.06  BOM500014
2  2019-12-27  1.35  1.35  ...        0.00        0.00  BOM500014
3  2019-12-26  1.24  1.36  ...        0.12        0.11  BOM500014
4  2019-12-24  1.30  1.30  ...        0.09        0.00  BOM500014

[5 rows x 14 columns]
         Date   Open   High  ...  Spread H-L  Spread C-O  stockname
0  2019-12-31  75.40  80.30  ...        4.90        3.85  BOM500020
1  2019-12-30  74.65  74.95  ...        1.15       -0.20  BOM500020
2  2019-12-27  73.00  74.85  ...        1.85        1.05  BOM500020
3  2019-12-26  73.35  74.70  ...        1.65        0.30  BOM500020
4  2019-12-24  74.10  74.40  ...        1.40       -0.85  BOM500020

[5 rows x 14 columns]
         Date    Open    High  ...  Spread H-L  Spread C-O  stockname
0  2019-12-31   96.00   99.85  ...        3.85        1.75  BOM500023
1  2019-12-30  102.80  102.95  ...        7.75        0.15  BOM500023
2  2019-12-27   99.20  104.45  ...       11.35        3.55  BOM500023
3  2019-12-24   99.00   99.00  ...        0.00        0.00  BOM500023
4  2019-12-23   92.05  100.00  ...        7.95        3.95  BOM500023

[5 rows x 14 columns]

In [31]:
#checking files created
!ls -ltr

total 731
-rw------- 1 root root 81630 Feb  8 10:14 BOM500002.csv
-rw------- 1 root root 76996 Feb  8 10:14 BOM500003.csv
-rw------- 1 root root 72986 Feb  8 10:14 BOM500009.csv
-rw------- 1 root root 78599 Feb  8 10:14 BOM500008.csv
-rw------- 1 root root 84687 Feb  8 10:14 BOM500010.csv
-rw------- 1 root root 73831 Feb  8 10:14 BOM500012.csv
-rw------- 1 root root 72416 Feb  8 10:14 BOM500013.csv
-rw------- 1 root root 78752 Feb  8 10:14 BOM500020.csv
-rw------- 1 root root 66912 Feb  8 10:14 BOM500014.csv
-rw------- 1 root root 58535 Feb  8 10:14 BOM500023.csv

In [0]:
#URL to download NSDL data
NSDL_URL='https://www.quandl.com/api/v3/datasets/NSDL/IEQSE.csv?start_date=2017-01-01&end_date=2019-12-31&api_key='+API_KEY

In [33]:
#read csv file to data frame
nsdl_df=pd.read_csv(NSDL_URL)
nsdl_df.head()

         Date  ...  Conversion (1 USD to INR)
0  2019-12-31  ...                    71.3449
1  2019-12-30  ...                    71.2214
2  2019-12-27  ...                    71.2699
3  2019-12-26  ...                    71.1959
4  2019-12-24  ...                    71.1699

[5 rows x 6 columns]

In [0]:
#write data file to csv file
nsdl_df.to_csv('nasdl.csv')

In [36]:
!ls -ltr

total 809
-rw------- 1 root root 81630 Feb  8 10:14 BOM500002.csv
-rw------- 1 root root 76996 Feb  8 10:14 BOM500003.csv
-rw------- 1 root root 72986 Feb  8 10:14 BOM500009.csv
-rw------- 1 root root 78599 Feb  8 10:14 BOM500008.csv
-rw------- 1 root root 84687 Feb  8 10:14 BOM500010.csv
-rw------- 1 root root 73831 Feb  8 10:14 BOM500012.csv
-rw------- 1 root root 72416 Feb  8 10:14 BOM500013.csv
-rw------- 1 root root 78752 Feb  8 10:14 BOM500020.csv
-rw------- 1 root root 66912 Feb  8 10:14 BOM500014.csv
-rw------- 1 root root 58535 Feb  8 10:14 BOM500023.csv
-rw------- 1 root root 14438 Feb  8 10:14 nasdl.csv
-rw------- 1 root root 64800 Feb  8 10:15 DJI.csv

In [38]:
#Manualy downloaded  DowJoanes index data from Yahoo Finance and uploaded into google drive
#load DJI.csv to dataframe
dji_df=pd.read_csv('DJI.csv')
dji_df.head()

         Date          Open  ...     Adj Close     Volume
0  2017-01-03  19872.859375  ...  19881.759766  339180000
1  2017-01-04  19890.939453  ...  19942.160156  280010000
2  2017-01-05  19924.560547  ...  19899.289063  269920000
3  2017-01-06  19906.960938  ...  19963.800781  277700000
4  2017-01-09  19931.410156  ...  19887.380859  287510000

[5 rows x 7 columns]