<a href="https://colab.research.google.com/github/santoshgurujula/Springboard/blob/master/DataCollection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# First, import the relevant modules
import requests
import json
from matplotlib import pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#pointing the path to google drive folder
%cd '/content/drive/My Drive/Springboard/data'

/content/drive/My Drive/Springboard/data

In [4]:
# Store the Quandl API key as a string 
API_KEY = '4Mg4hjNJH7oWZyHbsZwr'

In [5]:
#list of BSE stocks to be downloaded
stock_list=['BOM500002','BOM500003','BOM500008','BOM500009','BOM500010','BOM500012','BOM500013','BOM500014','BOM500020','BOM500023']

In [6]:
#define date range of the data to be downloaded
start_date='2017-01-01'
end_date='2020-06-30'

In [7]:
#URL to download csv file
url='https://www.quandl.com/api/v3/datasets/BSE/'

In [8]:
for stock in stock_list:
  # Read file into a DataFrame: df
  df=pd.read_csv(url+stock+'.csv?start_date='+start_date+'&end_date='+end_date+'&api_key='+API_KEY)
  #add stock name to dataframe as column
  df['stockname']=stock
  # Print the head of the DataFrame
  print(df.info())  
  #write dataframe to csv file
  df.to_csv(stock+'.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862 entries, 0 to 861
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       862 non-null    object
 1   Open                       862 non-null    float64
 2   High                       862 non-null    float64
 3   Low                        862 non-null    float64
 4   Close                      862 non-null    float64
 5   WAP                        862 non-null    float64
 6   No. of Shares              862 non-null    float64
 7   No. of Trades              862 non-null    float64
 8   Total Turnover             862 non-null    float64
 9   Deliverable Quantity       861 non-null    float64
 10  % Deli. Qty to Traded Qty  861 non-null    float64
 11  Spread H-L                 862 non-null    float64
 12  Spread C-O                 862 non-null    float64
 13  stockname                  862 non-null    object
dtypes: float64(12), object(2)
memory usage: 94.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862 entries, 0 to 861
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       862 non-null    object
 1   Open                       862 non-null    float64
 2   High                       862 non-null    float64
 3   Low                        862 non-null    float64
 4   Close                      862 non-null    float64
 5   WAP                        862 non-null    float64
 6   No. of Shares              862 non-null    float64
 7   No. of Trades              862 non-null    float64
 8   Total Turnover             862 non-null    float64
 9   Deliverable Quantity       862 non-null    float64
 10  % Deli. Qty to Traded Qty  862 non-null    float64
 11  Spread H-L                 862 non-null    float64
 12  Spread C-O                 862 non-null    float64
 13  stockname                  862 non-null    object
dtypes: float64(12), object(2)
memory usage: 94.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862 entries, 0 to 861
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       862 non-null    object
 1   Open                       862 non-null    float64
 2   High                       862 non-null    float64
 3   Low                        862 non-null    float64
 4   Close                      862 non-null    float64
 5   WAP                        862 non-null    float64
 6   No. of Shares              862 non-null    float64
 7   No. of Trades              862 non-null    float64
 8   Total Turnover             862 non-null    float64
 9   Deliverable Quantity       862 non-null    float64
 10  % Deli. Qty to Traded Qty  862 non-null    float64
 11  Spread H-L                 862 non-null    float64
 12  Spread C-O                 862 non-null    float64
 13  stockname                  862 non-null    object
dtypes: float64(12), object(2)
memory usage: 94.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862 entries, 0 to 861
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       862 non-null    object
 1   Open                       862 non-null    float64
 2   High                       862 non-null    float64
 3   Low                        862 non-null    float64
 4   Close                      862 non-null    float64
 5   WAP                        862 non-null    float64
 6   No. of Shares              862 non-null    float64
 7   No. of Trades              862 non-null    float64
 8   Total Turnover             862 non-null    float64
 9   Deliverable Quantity       862 non-null    float64
 10  % Deli. Qty to Traded Qty  862 non-null    float64
 11  Spread H-L                 862 non-null    float64
 12  Spread C-O                 862 non-null    float64
 13  stockname                  862 non-null    object
dtypes: float64(12), object(2)
memory usage: 94.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862 entries, 0 to 861
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       862 non-null    object
 1   Open                       862 non-null    float64
 2   High                       862 non-null    float64
 3   Low                        862 non-null    float64
 4   Close                      862 non-null    float64
 5   WAP                        862 non-null    float64
 6   No. of Shares              862 non-null    float64
 7   No. of Trades              862 non-null    float64
 8   Total Turnover             862 non-null    float64
 9   Deliverable Quantity       861 non-null    float64
 10  % Deli. Qty to Traded Qty  861 non-null    float64
 11  Spread H-L                 862 non-null    float64
 12  Spread C-O                 862 non-null    float64
 13  stockname                  862 non-null    object
dtypes: float64(12), object(2)
memory usage: 94.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862 entries, 0 to 861
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       862 non-null    object
 1   Open                       862 non-null    float64
 2   High                       862 non-null    float64
 3   Low                        862 non-null    float64
 4   Close                      862 non-null    float64
 5   WAP                        862 non-null    float64
 6   No. of Shares              862 non-null    float64
 7   No. of Trades              862 non-null    float64
 8   Total Turnover             862 non-null    float64
 9   Deliverable Quantity       862 non-null    float64
 10  % Deli. Qty to Traded Qty  862 non-null    float64
 11  Spread H-L                 862 non-null    float64
 12  Spread C-O                 862 non-null    float64
 13  stockname                  862 non-null    object
dtypes: float64(12), object(2)
memory usage: 94.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       860 non-null    object
 1   Open                       860 non-null    float64
 2   High                       860 non-null    float64
 3   Low                        860 non-null    float64
 4   Close                      860 non-null    float64
 5   WAP                        860 non-null    float64
 6   No. of Shares              860 non-null    float64
 7   No. of Trades              860 non-null    float64
 8   Total Turnover             860 non-null    float64
 9   Deliverable Quantity       859 non-null    float64
 10  % Deli. Qty to Traded Qty  859 non-null    float64
 11  Spread H-L                 860 non-null    float64
 12  Spread C-O                 860 non-null    float64
 13  stockname                  860 non-null    object
dtypes: float64(12), object(2)
memory usage: 94.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       847 non-null    object
 1   Open                       847 non-null    float64
 2   High                       847 non-null    float64
 3   Low                        847 non-null    float64
 4   Close                      847 non-null    float64
 5   WAP                        847 non-null    float64
 6   No. of Shares              847 non-null    float64
 7   No. of Trades              847 non-null    float64
 8   Total Turnover             847 non-null    float64
 9   Deliverable Quantity       847 non-null    float64
 10  % Deli. Qty to Traded Qty  847 non-null    float64
 11  Spread H-L                 847 non-null    float64
 12  Spread C-O                 847 non-null    float64
 13  stockname                  847 non-null    object
dtypes: float64(12), object(2)
memory usage: 92.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862 entries, 0 to 861
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       862 non-null    object
 1   Open                       862 non-null    float64
 2   High                       862 non-null    float64
 3   Low                        862 non-null    float64
 4   Close                      862 non-null    float64
 5   WAP                        862 non-null    float64
 6   No. of Shares              862 non-null    float64
 7   No. of Trades              862 non-null    float64
 8   Total Turnover             862 non-null    float64
 9   Deliverable Quantity       861 non-null    float64
 10  % Deli. Qty to Traded Qty  861 non-null    float64
 11  Spread H-L                 862 non-null    float64
 12  Spread C-O                 862 non-null    float64
 13  stockname                  862 non-null    object
dtypes: float64(12), object(2)
memory usage: 94.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       708 non-null    object
 1   Open                       708 non-null    float64
 2   High                       708 non-null    float64
 3   Low                        708 non-null    float64
 4   Close                      708 non-null    float64
 5   WAP                        708 non-null    float64
 6   No. of Shares              708 non-null    float64
 7   No. of Trades              708 non-null    float64
 8   Total Turnover             708 non-null    float64
 9   Deliverable Quantity       694 non-null    float64
 10  % Deli. Qty to Traded Qty  707 non-null    float64
 11  Spread H-L                 708 non-null    float64
 12  Spread C-O                 708 non-null    float64
 13  stockname                  708 non-null    object
dtypes: float64(12), object(2)
memory usage: 77.6+ KB
None

In [9]:
#checking files created
!ls -ltr

total 1915
-rw------- 1 root root  31423 Feb 15 12:11 interpolating-timeseries-p1-pandas-fig1.png
-rw------- 1 root root 279225 May 18 13:10 fig2.png
-rw------- 1 root root 680970 May 18 13:11 FinalStockData.csv
-rw------- 1 root root  14032 Jun 30 02:36 fig1.png
-rw------- 1 root root  41735 Jul  4 04:34 nasdl.csv
-rw------- 1 root root  74405 Jul  4 04:48 DJI.csv
-rw------- 1 root root  91432 Jul  4 04:48 BOM500002.csv
-rw------- 1 root root  86584 Jul  4 04:48 BOM500003.csv
-rw------- 1 root root  88389 Jul  4 04:48 BOM500008.csv
-rw------- 1 root root  81754 Jul  4 04:48 BOM500009.csv
-rw------- 1 root root  95670 Jul  4 04:49 BOM500010.csv
-rw------- 1 root root  82758 Jul  4 04:49 BOM500012.csv
-rw------- 1 root root  80411 Jul  4 04:49 BOM500013.csv
-rw------- 1 root root  88039 Jul  4 04:49 BOM500020.csv
-rw------- 1 root root  73870 Jul  4 04:49 BOM500014.csv
-rw------- 1 root root  65264 Jul  4 04:49 BOM500023.csv

In [10]:
#URL to download NSDL data
NSDL_URL='https://www.quandl.com/api/v3/datasets/NSDL/IEQSE.csv?start_date='+start_date+'&end_date='+end_date+'&api_key='+API_KEY

In [11]:
#read csv file to data frame
nsdl_df=pd.read_csv(NSDL_URL)
nsdl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 841 entries, 0 to 840
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          841 non-null    object
 1   Gross Purchases(Rs Crore)     841 non-null    float64
 2   Gross Sales(Rs Crore)         841 non-null    float64
 3   Net Investment (Rs Crore)     841 non-null    float64
 4   Net Investment US($) million  841 non-null    float64
 5   Conversion (1 USD to INR)     841 non-null    float64
dtypes: float64(5), object(1)
memory usage: 39.5+ KB

In [12]:
#write data file to csv file
nsdl_df.to_csv('nasdl.csv',index=False)

In [13]:
from pandas_datareader import data

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [14]:
#Dowload DowJoanes from Yahoo Finance
dji_data = data.DataReader('^DJI', 'yahoo', start_date, end_date)

In [15]:
dji_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 879 entries, 2017-01-03 to 2020-06-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       879 non-null    float64
 1   Low        879 non-null    float64
 2   Open       879 non-null    float64
 3   Close      879 non-null    float64
 4   Volume     879 non-null    int64
 5   Adj Close  879 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 48.1 KB

In [16]:
#Write data to a csv file
dji_data.to_csv('DJI.csv',index=False)

In [17]:
#list all the csv files
!ls *.csv -ltr

-rw------- 1 root root 680970 May 18 13:11 FinalStockData.csv
-rw------- 1 root root  91432 Jul  4 04:48 BOM500002.csv
-rw------- 1 root root  86584 Jul  4 04:48 BOM500003.csv
-rw------- 1 root root  88389 Jul  4 04:48 BOM500008.csv
-rw------- 1 root root  81754 Jul  4 04:48 BOM500009.csv
-rw------- 1 root root  95670 Jul  4 04:49 BOM500010.csv
-rw------- 1 root root  82758 Jul  4 04:49 BOM500012.csv
-rw------- 1 root root  80411 Jul  4 04:49 BOM500013.csv
-rw------- 1 root root  88039 Jul  4 04:49 BOM500020.csv
-rw------- 1 root root  73870 Jul  4 04:49 BOM500014.csv
-rw------- 1 root root  65264 Jul  4 04:49 BOM500023.csv
-rw------- 1 root root  41735 Jul  4 04:49 nasdl.csv
-rw------- 1 root root  74405 Jul  4 04:49 DJI.csv