<a href="https://colab.research.google.com/github/santoshgurujula/Springboard/blob/master/DataCollection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# First, import the relevant modules
import requests
import json
from matplotlib import pyplot as plt
import pandas as pd
%matplotlib inline

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [18]:
#pointing the path to google drive folder
%cd '/content/drive/My Drive/Springboard/data'

/content/drive/My Drive/Springboard/data

In [0]:
# Store the Quandl API key as a string 
API_KEY = '4Mg4hjNJH7oWZyHbsZwr'

In [0]:
#list of BSE stocks to be downloaded
stock_list=['BOM500002','BOM500003','BOM500008','BOM500009','BOM500010','BOM500012','BOM500013','BOM500014','BOM500020','BOM500023']

In [0]:
#URL to download csv file
url='https://www.quandl.com/api/v3/datasets/BSE/'

In [22]:
for stock in stock_list:
  # Read file into a DataFrame: df
  df=pd.read_csv(url+stock+'.csv?start_date=2017-01-01&end_date=2019-12-31&api_key='+API_KEY)
  #add stock name to dataframe as column
  df['stockname']=stock
  # Print the head of the DataFrame
  print(df.info())  
  #write dataframe to csv file
  df.to_csv(stock+'.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739 entries, 0 to 738
Data columns (total 14 columns):
Date                         739 non-null object
Open                         739 non-null float64
High                         739 non-null float64
Low                          739 non-null float64
Close                        739 non-null float64
WAP                          739 non-null float64
No. of Shares                739 non-null float64
No. of Trades                739 non-null float64
Total Turnover               739 non-null float64
Deliverable Quantity         738 non-null float64
% Deli. Qty to Traded Qty    738 non-null float64
Spread H-L                   739 non-null float64
Spread C-O                   739 non-null float64
stockname                    739 non-null object
dtypes: float64(12), object(2)
memory usage: 81.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739 entries, 0 to 738
Data columns (total 14 columns):
Date                         739 non-null object
Open                         739 non-null float64
High                         739 non-null float64
Low                          739 non-null float64
Close                        739 non-null float64
WAP                          739 non-null float64
No. of Shares                739 non-null float64
No. of Trades                739 non-null float64
Total Turnover               739 non-null float64
Deliverable Quantity         739 non-null float64
% Deli. Qty to Traded Qty    739 non-null float64
Spread H-L                   739 non-null float64
Spread C-O                   739 non-null float64
stockname                    739 non-null object
dtypes: float64(12), object(2)
memory usage: 81.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739 entries, 0 to 738
Data columns (total 14 columns):
Date                         739 non-null object
Open                         739 non-null float64
High                         739 non-null float64
Low                          739 non-null float64
Close                        739 non-null float64
WAP                          739 non-null float64
No. of Shares                739 non-null float64
No. of Trades                739 non-null float64
Total Turnover               739 non-null float64
Deliverable Quantity         739 non-null float64
% Deli. Qty to Traded Qty    739 non-null float64
Spread H-L                   739 non-null float64
Spread C-O                   739 non-null float64
stockname                    739 non-null object
dtypes: float64(12), object(2)
memory usage: 81.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739 entries, 0 to 738
Data columns (total 14 columns):
Date                         739 non-null object
Open                         739 non-null float64
High                         739 non-null float64
Low                          739 non-null float64
Close                        739 non-null float64
WAP                          739 non-null float64
No. of Shares                739 non-null float64
No. of Trades                739 non-null float64
Total Turnover               739 non-null float64
Deliverable Quantity         739 non-null float64
% Deli. Qty to Traded Qty    739 non-null float64
Spread H-L                   739 non-null float64
Spread C-O                   739 non-null float64
stockname                    739 non-null object
dtypes: float64(12), object(2)
memory usage: 81.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739 entries, 0 to 738
Data columns (total 14 columns):
Date                         739 non-null object
Open                         739 non-null float64
High                         739 non-null float64
Low                          739 non-null float64
Close                        739 non-null float64
WAP                          739 non-null float64
No. of Shares                739 non-null float64
No. of Trades                739 non-null float64
Total Turnover               739 non-null float64
Deliverable Quantity         738 non-null float64
% Deli. Qty to Traded Qty    738 non-null float64
Spread H-L                   739 non-null float64
Spread C-O                   739 non-null float64
stockname                    739 non-null object
dtypes: float64(12), object(2)
memory usage: 81.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739 entries, 0 to 738
Data columns (total 14 columns):
Date                         739 non-null object
Open                         739 non-null float64
High                         739 non-null float64
Low                          739 non-null float64
Close                        739 non-null float64
WAP                          739 non-null float64
No. of Shares                739 non-null float64
No. of Trades                739 non-null float64
Total Turnover               739 non-null float64
Deliverable Quantity         739 non-null float64
% Deli. Qty to Traded Qty    739 non-null float64
Spread H-L                   739 non-null float64
Spread C-O                   739 non-null float64
stockname                    739 non-null object
dtypes: float64(12), object(2)
memory usage: 81.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 738 entries, 0 to 737
Data columns (total 14 columns):
Date                         738 non-null object
Open                         738 non-null float64
High                         738 non-null float64
Low                          738 non-null float64
Close                        738 non-null float64
WAP                          738 non-null float64
No. of Shares                738 non-null float64
No. of Trades                738 non-null float64
Total Turnover               738 non-null float64
Deliverable Quantity         737 non-null float64
% Deli. Qty to Traded Qty    737 non-null float64
Spread H-L                   738 non-null float64
Spread C-O                   738 non-null float64
stockname                    738 non-null object
dtypes: float64(12), object(2)
memory usage: 80.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 14 columns):
Date                         731 non-null object
Open                         731 non-null float64
High                         731 non-null float64
Low                          731 non-null float64
Close                        731 non-null float64
WAP                          731 non-null float64
No. of Shares                731 non-null float64
No. of Trades                731 non-null float64
Total Turnover               731 non-null float64
Deliverable Quantity         731 non-null float64
% Deli. Qty to Traded Qty    731 non-null float64
Spread H-L                   731 non-null float64
Spread C-O                   731 non-null float64
stockname                    731 non-null object
dtypes: float64(12), object(2)
memory usage: 80.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 739 entries, 0 to 738
Data columns (total 14 columns):
Date                         739 non-null object
Open                         739 non-null float64
High                         739 non-null float64
Low                          739 non-null float64
Close                        739 non-null float64
WAP                          739 non-null float64
No. of Shares                739 non-null float64
No. of Trades                739 non-null float64
Total Turnover               739 non-null float64
Deliverable Quantity         738 non-null float64
% Deli. Qty to Traded Qty    738 non-null float64
Spread H-L                   739 non-null float64
Spread C-O                   739 non-null float64
stockname                    739 non-null object
dtypes: float64(12), object(2)
memory usage: 81.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 14 columns):
Date                         606 non-null object
Open                         606 non-null float64
High                         606 non-null float64
Low                          606 non-null float64
Close                        606 non-null float64
WAP                          606 non-null float64
No. of Shares                606 non-null float64
No. of Trades                606 non-null float64
Total Turnover               606 non-null float64
Deliverable Quantity         593 non-null float64
% Deli. Qty to Traded Qty    605 non-null float64
Spread H-L                   606 non-null float64
Spread C-O                   606 non-null float64
stockname                    606 non-null object
dtypes: float64(12), object(2)
memory usage: 66.4+ KB
None

In [23]:
#checking files created
!ls -ltr

total 804
-rw------- 1 root root 64800 Feb  8 10:15 DJI.csv
-rw------- 1 root root 38604 Feb  8 10:49 nasdl.csv
-rw------- 1 root root 78783 Feb 15 06:39 BOM500002.csv
-rw------- 1 root root 74149 Feb 15 06:39 BOM500003.csv
-rw------- 1 root root 75752 Feb 15 06:39 BOM500008.csv
-rw------- 1 root root 70139 Feb 15 06:39 BOM500009.csv
-rw------- 1 root root 81840 Feb 15 06:39 BOM500010.csv
-rw------- 1 root root 70984 Feb 15 06:39 BOM500012.csv
-rw------- 1 root root 69573 Feb 15 06:39 BOM500013.csv
-rw------- 1 root root 64097 Feb 15 06:39 BOM500014.csv
-rw------- 1 root root 75905 Feb 15 06:39 BOM500020.csv
-rw------- 1 root root 56220 Feb 15 06:39 BOM500023.csv

In [0]:
#URL to download NSDL data
NSDL_URL='https://www.quandl.com/api/v3/datasets/NSDL/IEQSE.csv?start_date=2017-01-01&end_date=2019-12-31&api_key='+API_KEY

In [25]:
#read csv file to data frame
nsdl_df=pd.read_csv(NSDL_URL)
nsdl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 723 entries, 0 to 722
Data columns (total 6 columns):
Date                            723 non-null object
Gross Purchases(Rs Crore)       723 non-null float64
Gross Sales(Rs Crore)           723 non-null float64
Net Investment (Rs Crore)       723 non-null float64
Net Investment US($) million    723 non-null float64
Conversion (1 USD to INR)       723 non-null float64
dtypes: float64(5), object(1)
memory usage: 34.0+ KB

In [0]:
#write data file to csv file
nsdl_df.to_csv('nasdl.csv',index=False)

In [27]:
!ls -ltr

total 801
-rw------- 1 root root 64800 Feb  8 10:15 DJI.csv
-rw------- 1 root root 78783 Feb 15 06:39 BOM500002.csv
-rw------- 1 root root 74149 Feb 15 06:39 BOM500003.csv
-rw------- 1 root root 75752 Feb 15 06:39 BOM500008.csv
-rw------- 1 root root 70139 Feb 15 06:39 BOM500009.csv
-rw------- 1 root root 81840 Feb 15 06:39 BOM500010.csv
-rw------- 1 root root 70984 Feb 15 06:39 BOM500012.csv
-rw------- 1 root root 69573 Feb 15 06:39 BOM500013.csv
-rw------- 1 root root 64097 Feb 15 06:39 BOM500014.csv
-rw------- 1 root root 75905 Feb 15 06:39 BOM500020.csv
-rw------- 1 root root 56220 Feb 15 06:39 BOM500023.csv
-rw------- 1 root root 35821 Feb 15 06:39 nasdl.csv

In [28]:
#Manualy downloaded  DowJoanes index data from Yahoo Finance and uploaded into google drive
#load DJI.csv to dataframe
dji_df=pd.read_csv('DJI.csv')
dji_df.head()

         Date          Open  ...     Adj Close     Volume
0  2017-01-03  19872.859375  ...  19881.759766  339180000
1  2017-01-04  19890.939453  ...  19942.160156  280010000
2  2017-01-05  19924.560547  ...  19899.289063  269920000
3  2017-01-06  19906.960938  ...  19963.800781  277700000
4  2017-01-09  19931.410156  ...  19887.380859  287510000

[5 rows x 7 columns]